.header {
  margin: 0 auto;
  text-align: center;
}

.trun {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userb {
  margin: 10px;
  font-weight: bold;
}

.userw {
  margin: 10px;
  font-weight: bold;
}

.board {
  width: 600px;
  height: 600px;
  background-color: rgb(253, 194, 106);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  position: absolute;
  /* background-color: rgb(253, 194, 106); */
  width: 550px;
  height: 550px;
  border-collapse: collapse;
  border-spacing: 0;
}

.go {
  position: absolute;
  margin: 30px;
  width: 530px;
  height: 530px;
  border-collapse: collapse;
}

.square {
  border: thin solid black;
  padding: 0;
}

.btn {
  margin: 0 auto;
  border: 1px solid;
  width: 150px;
  margin-top: 20px;
}

button {
  margin: 0 auto;
  text-align: center;
  justify-items: center;
  background-color: rgb(90, 128, 253);
  width: 150px;
  font-weight: bold;
  font-size: 20px;

  height: 50px;
  border-radius: 7px;
  border: none;
  color: white;
}

.black {
  background-color: black;
  border-radius: 100%;
}

.white {
  background-color: white;
  border-radius: 100%;
}
